modules = ["nodejs-20"]

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19586
externalPort = 3001

[[ports]]
localPort = 24926
externalPort = 3000
